%tr{:id => talk.id}
  %td= talk.title
  %td= talk.user.name
  %td= talk.scheduled_at.try(:strftime, "%d/%m/%Y")
  %td
    - if is_over?
      - if talk.presentation.present?
        = link_to talk.presentation do
          %span.glyphicon.glyphicon-eye-open
    -else
      = render partial: 'vote', locals: {talk: talk}
