!!!
%html
  %head
    %title Quick Launch Tech Talks
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      = link_to root_path do
        = image_tag 'logo.png', class: "brand"
      %h1 Tech Talks
      .row
        = yield
